

.section {
  /* border: 4px solid #ffcc00; */
  background: #6f4cff;
  padding-left: 2rem;
  padding-right: 2rem;
}


.section-inner {
  /* border: 4px solid #ff11db; */
  /* border-radius: 1rem; */
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.left {
  /* border: 4px solid #025c27; */
 display: flex;
  flex-direction: row;
  width: 50%;
  color: #fff;
}

.left h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.sub-text {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}


form {
  margin-bottom: 1.5rem;
}

form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 6px;
  border: none;
}
.additional-text{
  margin: 10px;
  padding: 20px;
  /* border: #0e0e0d 2px solid; */
  display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: space-around;
}
form button {
  width: 100%;
  padding: 0.9rem;
  background: #ffcc00;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.container5-text {

 
  /* border: 2px solid #0c22e9; */
  /* margin-top: 1.5rem; */
  /* font-size: 1rem; */
}
.points {
  list-style: none;
}

.points li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}


.right {
  border: 4px solid #ffd52e;
  width: 45%;
  /* height: 100%; */
}

.right img {
  /* position: absolute; */
  /* top: 2rem; */
  /* margin-top: 100px; */
  width: 100%;
  object-fit: cover;
  height: auto;
}


@media (max-width: 768px) {
  .section-inner {
    flex-direction: column;
  }
   
.left {


  flex-direction: column;
 
 
}
  .left,
  .right {
    width: 100%;
  }

  .right {
    margin-top: 2rem;
  }
}

