
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}


.todo-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}


form {
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}

form button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  /* border: 2px solid #000; */
  background: rgb(39, 82, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

form button:hover {
  background: #3d3d3d;
  color: white;
}


.task-section {
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 8px;
}


.task-section.pending {
  border: 2px solid rgb(245, 76, 76);
  background: #ff8f70;

}

 .task-section.completed li strong {
  text-decoration:line-through;

}

.task-section.completed {
  border: 2px solid rgb(33, 151, 0);
  background: #7aff74;
}

.task-section h2 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Checkbox */
li input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

/* Delete Button */
#delete {
  width: fit-content;
  padding: 5px 10px;
  border: 2px solid rgb(255, 48, 7);
  background: white;
  color: red;
  cursor: pointer;
  border-radius: 4px;
  /* display: block;
  float: right; */
   align-self: flex-end;
}

#delete:hover {
  background: red;
  color: white;
}

/* Date Text */
h4 {
  margin: 0;
  font-size: 14px;
}
